/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: 'Telefonica Bold';
  src: url('fonts/Telefonica-Bold.eot');
  src: url('fonts/Telefonica-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Telefonica-Bold.woff2') format('woff2'),
    url('fonts/Telefonica-Bold.woff') format('woff'),
    url('fonts/Telefonica-Bold.svg#Telefonica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telefonica regular';
  src: url('fonts/Telefonica-Regular.eot');
  src: url('fonts/Telefonica-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Telefonica-Regular.woff2') format('woff2'),
    url('fonts/Telefonica-Regular.woff') format('woff'),
    url('fonts/Telefonica-Regular.svg#Telefonica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telefonica Light';
  src: url('fonts/Telefonica-Light.eot');
  src: url('fonts/Telefonica-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Telefonica-Light.woff2') format('woff2'),
    url('fonts/Telefonica-Light.woff') format('woff'),
    url('fonts/Telefonica-Light.svg#Telefonica-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.bold {
  font-family: "Telefonica Bold", sans-serif;
  font-weight: bold;
}

.light {
  font-family: "Telefonica Light", sans-serif;
  font-weight: lighter;
}

.regular {
  font-family: "Telefonica regular", sans-serif;
  font-weight: normal;
}

body {
  font-family: "Telefonica regular", Arial, sans-serif;
  color: #ffffff;
  background-color: #0684ca;
}

.bg {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bg2 {
  background-image: url(../img/bg2.jpg);
}

.maincontainer {
  position: relative;
  z-index: 1;
}


a {
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.btn {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #d3d4d3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Telefonica Bold", sans-serif;
}

a.svg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.svgcenter {
  width: fit-content;
  margin: 0 auto;
}

.icons {
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3em;
}

.btn-cont {
  margin: 5px 0 0 0;
}

.btn.btn-mov {
  padding: .120rem .75rem;
  border-radius: .50rem;
  font-size: 1.2rem;
  color: #fff;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.roundedborder {
  padding: .120rem .75rem;
  border-radius: .50rem;
  font-size: 1.2rem;
}

.bluebg {
  background-color: #019df4;
}

.blue {
  color: #019df4;
}


.headphones {
  background-image: url(../img/headphones2.png);
  background-repeat: no-repeat;
  background-position: right 230px;
  background-size: 230px auto;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 600px;
  display: none;
}

@media (min-width: 992px) {
  .headphones {
    display: block;
  }
}

@media (min-width: 1190px) {
  .headphones {
    background-position: right 280px;
  }
}

@media (min-width: 1400px) {
  .headphones {
    background-position: right 230px;
  }
}

/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
section#hero {
  background-color: #0b2739;
  position: relative;
  z-index: 5;
}

.heroglow {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.79);
  -moz-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.79);
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.79);
  border-bottom: 4px solid white;
}

.herodesktopwide {
  display: none;
}

.herodesktop {
  display: none;
}

.heromobile {
  display: block;
}

@media (min-width: 767px) {
  .herodesktopwide {
    display: none;
  }

  .herodesktop {
    display: block;
  }

  .heromobile {
    display: none;
  }
}

@media (min-width: 1500px) {
  .herodesktopwide {
    display: block;
  }

  .herodesktop {
    display: none;
  }

  .heromobile {
    display: none;
  }
}

/*--------------------------------------------------------------
# Section Heading
--------------------------------------------------------------*/

.bloque {
  display: block;
}

.headingmax {
  max-width: 600px;
}

section#heading h1 {
  width: fit-content;
  text-align: center;
  margin: 15px auto 0 auto;
}

section#heading h2 {
  margin: 0 auto;
  padding: 2.5em 0 0 0;
}

.t1 {
  font-size: 1.2rem;
}

.t2 {
  font-size: 1.6rem;
  padding-top: 1.2rem;
  margin-bottom: 0;
}

.t3 {
  font-size: 1.3rem;
  padding-top: 1.2rem;
  margin-bottom: 0;
}

.t4 {
  font-size: 0.9rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
}

.t7 {
  font-size: 2.0rem;
  padding-top: 1.2rem;
  margin-bottom: 0;
  color: #ffffff;
}


.nbb {
  display: block;
}


@media (min-width: 767px) {
  .hide {
    display: inline-block;
  }

  .m {
    margin-top: 0;
  }

  .nbb {
    display: inline-block;
  }

  .t1 {
    font-size: 1.2rem;
  }

  .t2 {
    font-size: 1.6rem;
    padding-top: 0.8rem;
    margin-bottom: 0;
  }

  .t3 {
    font-size: 1.6rem;
    padding-top: 0.8rem;
    margin-bottom: 0;
  }

  .t4 {
    font-size: 1.0rem;
    padding-top: 1.4rem;
  }

  .t5 {
    font-size: 1.8rem;
    padding-top: 0.8rem;
  }

  .t7 {
    font-size: 2.0rem;
    padding-top: 0.8rem;
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Caja de Precio
--------------------------------------------------------------*/
main {
  padding: 3em 0 0 0;
}

/*--------------------------------------------------------------
# Form Style
--------------------------------------------------------------*/
.heading-form {
  max-width: 400px;
  font-size: 1.3em;
  margin: 0 auto;
  line-height: 1.3em;
  padding: 0 0 1em 0
}

.heading-formb {
  padding: 1em 0 1em 0
}

#form .formax {
  max-width: 767px;
  margin: 0 auto 0 auto;
  background-color: rgba(0, 57, 89, 0.70);
  padding: 2.4em 1em 2.0em 1em;
}

.formglow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.28);
}

#form form {
  color: #ffffff;
}

#form form input {
  font-family: 'Telefonica regular';

}

#form form .btn-enviar {
  background-color: #e63780;
  border-color: #e63780;
  padding: 0.2rem 2rem;
  border-radius: 15%/50%;
}

#form form label.label {
  margin-bottom: 0.1rem;
  width: 100%;
  text-align: left;
  padding: 0 0 0 1em;
}

#form form select {
  background: url(../img/arrow-64.png) white no-repeat 97% 50%;
  background-size: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

}

.disclaimer {
  font-size: 0.8em;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em 0 0 0;
  line-height: 1.2em;
}

#form form .form-check-input {
  margin-top: 0.55rem;
}

.form-check-label.label-tos {
  font-size: 0.8em;
}

.bloque-form-check {
  padding: 0.8em 0 1em 0;
}

.underline {
  text-decoration: underline;

}

#form form .form-control {
  border-color: #019df4;
  color: #0b2739;
  border-radius: 0.65rem;
  height: calc(1.5em + 0.65rem + 2px);
}

.tos-button img {
  width: 100%;
  height: auto;
  max-width: 16px;
}

.tos-show {
  display: none;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 0.5em 0;
}

.gracias {
  padding: 3em;
}

@media (min-width: 767px) {
  #form .formax {
    padding: 2.4em 3em 2.0em 3em;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer#footer {
  padding: 2rem 0 5rem 0;
}

.t6 {
  font-size: 0.7rem;
}

.sello-res {
  width: 100%;
  height: auto;
  max-width: 92px
}